
ul{
    list-style: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    /* font-size: 100%; */
    line-height: 24px;
    font-family: "Helvetica Neue",Roboto,Arial,sans-serif;
}

/* css important */
.mg__top-12{
    margin-top: 12px;
}

.mg__top-8 {
    margin-top:8px;
}

.mg__bottom-8 {
    margin-bottom:8px
}

.mg__bottom-12{
    margin-bottom: 12px;
}


.mg__left-16{
    margin-left: 16px;
}

.mg__left-8 {
    margin-left: 8px;
}



.gutter {
    max-width: 1320px;
    padding: 0 16px;
    margin: 0 auto;
}

.gutter::after{
    clear: both;
    content: "";
    display: block;
}

.cursor-pointer {
    cursor: pointer;
}


/* end css important */



/* begin css header */
.header{

}

.css-header__height{
    height: 50px;
}


.header-container{
    display: flex;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    position: relative;
 
}

.header-logo .logo{
    display: block;
    max-width: 100%; 
}

.mainmenu{
    font-size: 18px;


}

.mainmenu-top, .mainmenu-top li {
    display: inline-block;
}

.mainmenu-top li{
    position: relative;
}


.mainmenu-top > li > a {
    color: #fff;
}

.mainmenu-top li a{
    color:#333 ;
    text-decoration: none;
    padding: 0 16px;
    line-height: 50px;
}



.mainmenu-top  li:hover  {
    color: #000;
    background-color: #ccc;
}

.nav-icon {
    font-size: 20px;
}

/* end css header */




/* begin css container */
#slide-content{
    margin-top: 46px;
}

.tabs-container, .mp-tabs {
    margin-bottom: 1.25rem;
    width: 100%;
    z-index: 10;
    position: relative;
}

.css-tabs__padding{
    padding: 0 40px;
}

.mp-tabs {
    background: #fbf9f2;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 30%);
    float: left;
}

.tabs-header{
    border-bottom: solid 0.0625rem #eeeeee;
    color: rgb(240, 79, 86)
}

.tabs-header .icon-plane{
    display: inline-block;
    height: 40px;
    width: 40px;
}


.tabs-header .text{
    display: inline-block;
    font-weight: 700;
    line-height: 40px;
}




.button-find-flight{
    background: rgb(240, 79, 86);
    color: #fff;
    padding: 1.25rem 3.75rem;
    float: right;
    border-radius: 31.25rem;
    display: block;
    font-size: .875rem;
    font-weight: 700;
    border: 0;
    cursor: pointer;
    margin:16px 0;
}

.button-find-flight:hover {
    background-color: rgb(230, 24, 34);
}

/* end css container */



/* begin css description */
.description{
    margin-bottom: 1.25rem;
    text-align: center;
    margin-top: 1.5rem;
}

.description-box {
    display: block;
    font-size: .75rem;
    line-height: 1rem;
    margin-bottom: 1.25rem;
}

/* end css description */





/* begin css list product */
.list-product__box .card-img-top{
    width: 100%;
    height: 196px;
}

.list-product__box .card-body{
    background: #fbf9f2;
}

.list-product__box .item-from-destination{
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}

.list-product__box .item-info {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.list-product__box .item-info {
    display: flex;
}


.list-product__box .item-price{
    margin-top: 16px;
    text-align: right;
    color: #dc7913;
    font-size: 22px;
    font-weight: 700;
}

.list-product__box .item-type{

    display: flex;
    float: right;
}

/* end  css list product */


/* begin css footer*/


#footer{
    background: rgba(37, 43, 54, 0.8);
    padding: 3rem;
	padding-top: 7rem;

    color: white;

}

.useful-link h2{
	padding-bottom: 15px;
	font-size: 20px;
    font-weight: 600;
}

.use-links{
	line-height: 32px;
}

.use-links li {
    list-style: none;
}

.use-links li i{
	font-size: 14px;
    padding-right: 8px;
    color: #898989;
}
.use-links li a{
	color: #303030;
    font-size: 15px;
    font-weight: 500;
	color: white;
    text-decoration: none;
}
.use-links li a:hover{
	color:#29aafe
}


.social-links h2{
	padding-bottom: 15px;
	font-size: 20px;
    font-weight: 600;
}


.social-icons a{
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d;
    text-decoration: none;
    
}
.social-icons{
    padding-left:0;
    margin-bottom:0;
    list-style:none
}

.social-icons li{
    display:inline-block;
    margin-bottom:4px
}

.social-icons li.title{
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
}

.social-icons a{
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
}

.social-icons a:active,.social-icons a:focus,.social-icons a:hover{
    color:#fff;
    background-color:#29aafe
}

.social-icons.size-sm a{
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
}

.social-icons a.facebook:hover{
    background-color:#3b5998
}
.social-icons a.twitter:hover{
    background-color:#00aced
}

.social-icons a.linkedin:hover{
    background-color:#007bb6
}

.social-icons a.dribbble:hover{
    background-color:#ea4c89
} 
  

.address h2{
	padding-bottom: 15px;
	font-size: 20px;
    font-weight: 600;
}

.address-links li{
    list-style: none;
}

.address-links li a{
	color: #303030;
    font-size: 15px;
    font-weight: 500;
	color: white;
    text-decoration: none;

}
.address-links li i{

    padding-right: 8px;
	color: rgb(230, 24, 34);

}

.address-links{
    line-height: 32px;
    color: #777777;
}

.copyright-text{
    text-align: center;
}

.copyright-text a{
    text-decoration: none;
    color: #818a91;
}
  












